<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center titulo">LISTADO DE PRODUCTOS</h1>
            <button class="btn btn-success float-end mb-2" routerLink="/crear-producto">Agregar</button>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <table class="table table-light table-responsive-md table-striped text-center mt-2" style="opacity: 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Ubicacion</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>uno</td>
                        <td>dos</td>
                        <td>tres</td>
                        <td>cuatro</td>
                        <td>
                            <i class="fas fa-pencil text-primary" ></i>
                            <i class="fas fa-trash text-danger" style="margin-left: 20px;"></i>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
